
html, body, #root {
  height: 100%;
  min-height: 100%;
}

.hotelFormBackground {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  width: 100vw;
  background: #f6fafe; 
}

.bgGlass {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/natural.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px) brightness(0.94) saturate(110%);
  z-index: 0;
  pointer-events: none;
}

.hotelFormCard {
  border-top: 8px solid #78c4dd;
  background-color: #fff5f3;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  z-index: 2;
}


.saveButton {
  background: linear-gradient(135deg, #78c4dd, #78c4dd);
  color: white;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.saveButton:hover {
  background-color: #5d8b9b;
  transform: translateY(-5px);
}

