.container{
    padding-top: 70px !important;
    background-color:#e4d9d7;
    border-radius: 20px;
    width: 70%;
    box-shadow: 0px 0px 100px rgba(17, 41, 107, 0.1) !important;
    
}
.text_center{
    color: #02799b;
    margin-bottom: 30px;
    align-self: center;
}