
body {
  margin: 0;
  padding: 0;
  /* background-image: url('../../assets/natural.jpg');  */
  background-size: cover;      
  background-position: center;   
  background-repeat: no-repeat;  
  height: 100vh;                
  width: 100vw;                  
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-6 {
    flex: 1;
    padding: 20px;
  }
.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: -20px;

    
    
  }
  
  .card-custom {
    width: 25rem;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color:rgb(240, 224, 210);
 

  
  }
  
  .card-title-center {
    text-align: center;
    margin-bottom: 20px;
    
 
  }



.create-account-button{

background-color: #92c7cf;
width: 300px;
border: none;
color: white;
margin-top: 10px;


}

.create-account-button:hover {
    background-color: #446a70;
    color: white;
    cursor: pointer;
  }
  
  
  .form-group {
    margin-bottom: 15px;
   
    
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 12px;
  
  }
  
  .form-control:focus {
    border-color: #92c7cf;
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: #92c7cf;
    border-color: #92c7cf;
  }


.form-control:focus {
    border: 2px solid #92c7cf;
    outline: none;
    box-shadow: none;
  
  }
  


  .register_p{

    position: relative;
    top: 20px;
    left: 90px;
    color: #c6c5c0;
  }
  .social-icons{


    position: relative;
    top: 20px;
    left: 80px;
    color: #c6c5c0;
  }
  .social-icon{
    margin:  20px;

  
  }







  
  .div_re{

    font-size: 12px;
    position: relative;

    top : -10px;
    left : 80px;
    color: #c6c5c0;
  }
  .check_box{
   color: #c6c5c0;

  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  
  