.price_slider{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    align-items:center;   
}
.search_result_cards{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 4%;
}
.page_container{
    margin : 20px;
    display: flex;
    width: 100%;
}
.fliter_container{
    width: 20%;
}