.admin-dashboard {
  background-color: #fefefe;
}

.sidebar {
  background-color: #d8f0f8;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
}

.sidebar-item:hover {
  color: #007bff;
  text-decoration: none;
}

.content {
  background-color: #f9f3f1;
  padding: 20px;
}

.info-card {
  margin-bottom: 20px;
  text-align: center;
}

.property-card {
  margin-top: 20px;
  padding: 20px;
}